
{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}


<div class="teaserimage">
    <div class="teaser-overlay">
        <a class="blog-logo" href="{{@blog.url}}">{{@blog.title}}</a>
        <h1 class="blog-title">{{@blog.title}}</h1>
        <h2 class="blog-description">{{@blog.description}}</h2>
    </div>
    <div class="teaserimage-image">
        Teaser Image
    </div>
</div>

<header class="blog-header">
    <div class="custom-links">
        <a href="https://twitter.com/lesstroud" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="https://plus.google.com/113939142038842636646/posts" target="_blank"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;
        <a href="https://github.com/lstroud" target="_blank"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
        <a href="http://www.linkedin.com/in/lesstroud/" target="_blank"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
        <a href="https://www.facebook.com/les.stroud" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="/aboutme/">About Me</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    </div>
</header>

<script>
    (function ($) {
        "use strict";
    
        $(document).ready(function(){
    
            var $window = $(window),
                $image = $('.teaserimage-image'),
                $logo_image = $('.logo-readium'),
                $blog_logo = $('.teaser-overlay .blog-logo'),
                $blog_title = $('.teaser-overlay .blog-title'),
                $blog_desc = $('.teaser-overlay .blog-description');
            var logo_showing = $logo_image.hasClass('showing');
            $window.on('scroll', function() {
                var top = $window.scrollTop();
    
                if (top < 0 || top > 1500) { return; }
                $image
                    .css('transform', 'translate3d(0px, '+top/4+'px, 0px)')
                    .css('opacity', 1-Math.max(top/700, 0));
                $blog_logo
                    .css('transform', 'translate3d(0px, '+top/2+'px, 0px)')
                    .css('opacity', 1-Math.max(top/800, 0))
                    .css('margin-top', (1-Math.max(top/200, 0))*72)+'px'; 
                $blog_title
                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                    .css('opacity', 1-Math.max(top/500, 0))
                    .css('padding-top', (1-Math.max(top/200, 0))*64+'px');
                $blog_desc
                    .css('transform', 'translate3d(0px, '+top/3.5+'px, 0px)')
                    .css('opacity', 1-Math.max(top/200, 0))
                    .css('margin-bottom', (1-Math.max(top/200, 0))*20+'px');
/******  ADDED - LES *********/                
                if (top > 450) {
                    if(!logo_showing){
                        $logo_image.addClass('showing');
                        logo_showing = true;
                    }
                } else {
                    if(logo_showing){ 
                        $logo_image.removeClass('showing');
                        logo_showing = false;
                    }
                }
/*****************************/  
            });
            $window.trigger('scroll');
    
        });
    
    }(jQuery));
</script>

{{! The main content area on the homepage }}
<main class="content" role="main">
    
    <h5 class="index-headline featured"><span>Featured</span></h5>
    
    <div class="container featured">
        {{#foreach posts}}
            {{#if featured}}
                <article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                    <div class="article-item">
                        <header class="post-header">
                            <h2 class="post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                        </header>
                        <section class="post-excerpt" itemprop="description">
                            <p>{{excerpt characters="130"}}&hellip;</p>
                        </section>
                        <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> <span class="post-tags-set">{{tags prefix="on "}}</span></div>
                    </div>
                </article>
            {{/if}}
        {{/foreach}}
    </div>
    
    
    <h5 class="index-headline normal"><span>Regular</span></h5>
    
    <div class="cf frame">
    {{#foreach posts}}
        {{#if featured}}
        {{else}}
            <article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                <div class="article-item">
                    <header class="post-header">
                        <h2 class="post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                    </header>
                    <section class="post-excerpt" itemprop="description">
                        <p>{{excerpt characters="130"}}&hellip;</p>
                    </section>
                    <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> <span class="post-tags-set">{{tags prefix="on "}}</span></div>
                </div>
            </article>
        {{/if}}
    {{/foreach}}
    </div>


    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>

<footer class="site-footer">
    <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip"> Subscribe!</span></a>
    <div class="inner">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></section>
    </div>
</footer>