

{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}


<div class="teaserimage">
    <div class="teaserimage-image">
        Teaser Image
    </div>
</div>

<header class="blog-header">
    <div class="custom-links">
        <a href="https://twitter.com/lesstroud" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="https://plus.google.com/113939142038842636646/posts" target="_blank"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;
        <a href="https://github.com/lstroud" target="_blank"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
        <a href="http://www.linkedin.com/in/lesstroud/" target="_blank"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
        <a href="https://www.facebook.com/les.stroud" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="/aboutme/">About Me</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    </div>
</header>

<script>
    (function ($) {
        "use strict";

        $(document).ready(function(){

            var $window = $(window),
                $image = $('.teaserimage-image'),
                $logo_image = $('.logo-readium');
            var logo_showing = $logo_image.hasClass('showing');
            $window.on('scroll', function() {
                var top = $window.scrollTop();

                if (top < 0 || top > 1500) { return; }
                $image
                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                    .css('opacity', 1-Math.max(top/700, 0));
/******  ADDED - LES *********/                
                if (top > 450) {
                    if(!logo_showing){
                        $logo_image.addClass('showing');
                        logo_showing = true;
                    }
                } else {
                    if(logo_showing){ 
                        $logo_image.removeClass('showing');
                        logo_showing = false;
                    }
                }
/*****************************/  
            });
            $window.trigger('scroll');

        });

    }(jQuery));
</script>

{{! The main content area on the homepage }}
<main class="content" role="main">
    
    <a href="/">Back to Overview</a>

    <h5 class="index-headline normal"><span>Article list for {{tag.name}}</span></h5>

    <div class="cf frame">
    {{#foreach posts}}
        <article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
            <div class="article-item">
                <header class="post-header">
                    <h2 class="post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                </header>
                <section class="post-excerpt" itemprop="description">
                    <p>{{excerpt characters="150"}}&hellip;</p>
                </section>
                <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="on "}}</div>
            </div>
        </article>
    {{/foreach}}
    </div>


    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>

<footer class="site-footer">
    <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
    <div class="inner">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>








